#tabla{
	width:100%;
	margin:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size:12px;
	font-weight:bold;
	background:#FFF;
	
	border:8px solid #F4F4F4;
	
}
#fila{
	background-color:#CCFF99;
	text-align:center;
	color:#333333;
	font-size:19px;
}
#sub{
	vertical-align:top;	
}
@media only screen and (max-width: 360px) {
	body {
		width:100%;
		
	}
	 #tabla #fila #sub {
		width: 100%;
	}
	.uno{
		width:100%;
	}
}

